---
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/banner-1.png
excerpt: "Wealth generation is one corner stone of living a free and successful life.\n Set up your personal financial war chest"
intro: 
  - excerpt: "Learn to build wealth, protect and maintain it and keep track of it."
feature_row:
  - image_path: assets/images/unsplash-gallery-image-1-th.jpg
    alt: "placeholder image 1"
    title: "Blog"
    excerpt: "All articles about build and maintaing wealth"
    url: "/about/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/btc_banner.png
    image_caption: "Bitcoin Power Law"
    alt: "btc power law"
    title: "Bitcoin Visualisations"
    excerpt: "All data visualisations around the bitcoin price and on-chain data"
    url: "/about/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/stock_banner.png
    title: "Stock Market Data"
    excerpt: "Visualisations of latest Stock insights"
    url: "/about/"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
