---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

$background-color: #000000;
// $masthead-link-color: #fe800c; 
$link-color: #d1d1d1;
$primary-color: #232323;

.link-as-text {
  text-decoration: none;
  color: #d1d1d1; /* Color when not hovered, focused or visited */
}

.link-as-text:hover,
.link-as-text:focus,
.link-as-text:visited {
  color: #d1d1d1; /* Change colors for hover, focus and visited as needed */
  transition: none; /* To prevent any animation on hover/focus */
}

body {
  /* Add a global text shadow effect with a specific color */
  -webkit-text-shadow: 1px 2px 3px rgba(17, 17, 17, 0.5);
  text-shadow: 1px 2px 3px rgba(17, 17, 17, 0.5);
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials



